.navbar-brand {
    font-weight: bold;
    padding: inherit;
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #4aaaa5;
}

.nav-item {
    font-weight: bold;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4aaaa5;
    text-align: center;
}


/* Media Queries */

@media(max-width: 992px) {
    .navbar {
        background-color: #0BADA6 !important;
    }
    .navbar-brand {
        padding: inherit;
        margin-left: 20px !important;
        font-size: xx-large;
    }
}