<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employment Levels by Industry</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css" />

    <!--Tableau-->
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

    <!--CSS Link-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body onload="initViz();">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#034E7B">
        <a class="navbar-brand" href="/">US Unemployment</a>
        <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/demographics/">Demographics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/industry_stats/">Industry<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white" href="/references/">References</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="grid-box"> ​
                <div class="row">
                    <h4> Employment Levels by Industry</h4>
                    <hr class="my-4" style="width: 100%; height: 1px;">
                </div>
                <div class="row">
                    <div id="vizContainer" style="width:1200px; height:800px;"></div>
                    <!-- Tableau Script-->
                    <script>
                        function initViz() {
                            var containerDiv = document.getElementById("vizContainer"),
                                url = "https://public.tableau.com/views/Top10Industries-LevelofEmployment/FINAL?:display_count=y&publish=yes&:origin=viz_share_link"
                            options = {
                                hideTabs: true,
                                onFirstInteractive: function() {
                                    console.log("Run this code when the viz has finished loading.");
                                }
                            };
                            // Create a viz object and embed it in the container div.
                            var viz = new tableau.Viz(containerDiv, url, options);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Footer -->
<footer class="footer">
    <div>
        <h6> © Team Data Vizards</h6>
        <ul>
            <li>Zen Acar | </li>
            <li> Gina Cameras | </li>
            <li> Harini Rao | </li>
            <li> Carlos Santillan </li>
        </ul>
    </div>
</footer>
<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
​