.navbar-brand {
    font-weight: bold;
    padding: inherit;
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: white !important;
    background-color: #034E7B;
}

.nav-item {
    font-weight: bold;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

#tableauPlaceholder::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none;
}

.tableauPlaceholder div {
    display: block;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.footer {
    position: absolute;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #f1eef6;
    background: linear-gradient(#a6bddb, #034e7b);
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline;
}

.sublegend-color {
    width: 20px;
    border: 1px solid #666666;
    display: inline-block;
    opacity: 0.5;
}

.sublegend-item {
    padding-top: 0.2em;
}

.sublegend {
    list-style: none;
    padding-inline-start: 24px;
    margin-top: 0px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/* Media Queries */

@media(max-width: 992px) {
    .navbar {
        background-color: #034E7B !important;
    }
    .navbar-brand {
        padding: inherit;
        margin-left: 20px !important;
        font-size: xx-large;
    }
}